<div class="column-layout group">
  <h2 class="h2">
    Login
  </h2>
  <igx-input-group type="border" class="input">
    <input type="text" [required]="true" igxInput />
    <label igxLabel>Username</label>
  </igx-input-group>
  <igx-input-group type="border" class="input">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <a target="_blank" class="ig-typography__body-1 hyperlink">
    Forgot password?
  </a>
  <a target="_blank" class="ig-typography__body-1 hyperlink">
    Not registered yet?
  </a>
  <button igxButton="raised" igxRipple class="button">
    Login
  </button>
</div>
